/* http://www.kodingmadesimple.com/2014/11/create-stylish-bootstrap-3-social-media-icons.html */
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    text-decoration: none;
}

.mini i {
    width: 17px;
    height: 17px;
    font-size: 10px;
    padding-top: 4px;
}

.social .fa-facebook {
    background: #4060A5;
}

.social .fa-twitter {
    background: #00ABE3;
}

.social .fa-google-plus {
    background: #e64522;
}

.social .fa-github {
    background: #343434;
}

.social .fa-pinterest {
    background: #cb2027;
}

.social .fa-linkedin {
    background: #0094BC;
}

.social .fa-flickr {
    background: #FF57AE;
}

.social .fa-instagram {
    background: #375989;
}

.social .fa-vimeo-square {
    background: #83DAEB;
}

.social .fa-stack-overflow {
    background: #FEA501;
}

.social .fa-dropbox {
    background: #017FE5;
}

.social .fa-tumblr {
    background: #3a5876;
}

.social .fa-dribbble {
    background: #F46899;
}

.social .fa-skype {
    background: #00C6FF;
}

.social .fa-stack-exchange {
    background: #4D86C9;
}

.social .fa-youtube {
    background: #FF1F25;
}

.social .fa-xing {
    background: #005C5E;
}

.social .fa-rss {
    background: #e88845;
}

.social .fa-foursquare {
    background: #09B9E0;
}

.social .fa-youtube-play {
    background: #DF192A;
}

.social .fa-slack {
    background: #4F3A4B;
}

.social .fa-whatsapp {
    background: #65BC54;
}

.socialfooter {
    margin: 0;
    padding: 0;
}

.socialfooter ul {
    margin: 0;
    padding: 5px;
}

.socialfooter ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.socialfooter i {
    color: #FFF;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    text-decoration: none;
}

.socialfooter i:hover {
    color: #00ABE3;
}
