{% extends "base.html" %}

{% load static %}

{% block title %}Person Detail{% endblock title %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url home %}">Home</a> <span class="divider"></span></li>
  <li><a href="{% url core:person_list %}">Contatos</a> <span class="divider"></span></li>
  <li class="active">{{ object.full_name }}</li>
</ul>

<div class="col-lg-8">
  <div class="col-md-2 column">
    <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png" class="img-square" style="height: 100px;" />
  </div>
  <div class="col-md-offset-3 column">
    <h1>{{ object.full_name }}</h1>
    {% if object.email %}
      <h4><span class="glyphicon glyphicon-envelope"></span><a href="#"> {{ object.email }}</a></h4>
    {% endif %}
    <div class="social">
      <ul>
        {% for network in object.network.all %}
          {% if network.network == 'facebook' %}
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if network.network == 'twitter' %}
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if network.network == 'google-plus' %}
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          {% endif %}
          {% if network.network == 'github' %}
            <li><a href="#"><i class="fa fa-github"></i></a></li>
          {% endif %}
          {% if network.network == 'pinterest' %}
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          {% endif %}
          {% if network.network == 'linkedin' %}
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}
          {% if network.network == 'instagram' %}
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          {% endif %}
          {% if network.network == 'skype' %}
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
          {% endif %}
          {% if network.network == 'slack' %}
            <li><a href="#"><i class="fa fa-slack"></i></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  </br>

  <table class="table table-user-information">
    <tbody>
      {% if object.birthday %}
        <tr>
          <th class="col-md-3 text-right"><span class="fa fa-birthday-cake"></span></th>
          <td>{{ object.birthday }}</td>
        </tr>
      {% else %}
        <tr>
          <th class="col-md-3 text-right"><span class="fa fa-birthday-cake"></span></th>
          <td>---</td>
        </tr>
      {% endif %}

      {% if object.address %}
        <tr>
          <th class="col-md-3 text-right"><span class="glyphicon glyphicon-map-marker"></span></th>
          <td>{{ object.address }}
            {% if object.complement %} - {{ object.complement }}{% endif %}
            {% if object.district %} - {{ object.district }}{% endif %}
          </td>
        </tr>
        <tr>
          <th class="col-md-3 text-right"></th>
          <td>
            {% if object.city %}{{ object.city }}{% endif %}
            {% if object.uf %} - {{ object.uf }}{% endif %}
            {% if object.cep %} - {{ object.cep }}{% endif %}
          </td>
        </tr>
      {% endif %}
      <tr>
        <th class="col-md-3 text-right">Descrição</th>
          <td>{{ object.description }}</td>
      </tr>
      <tr>
        <th class="col-md-3 text-right">Filhos</th>
          <td>{{ object.child }}</td>
      </tr>
      <tr>
        <th class="col-md-3 text-right">Salário</th>
          <td>R$ {{ object.salary }}</td>
      </tr>

    </tbody>
  </table>

  <!-- edit -->
  <a href="{% url core:person_edit person.pk %}">
      <button id="edit_person" type="button" class="btn btn-success">
          <span class="fa fa-pencil"></span> Editar
      </button>
  </a>
  <!-- delete with modal -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
      <span class="fa fa-times"></span> Excluir
  </button>
  <!-- json -->
  <a href="{% url core:person_detail_json person.pk %}">
      <button type="button" class="btn btn-warning">
          <span class="fa fa-code"></span> Json
      </button>
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
      </div>
        <form action="{% url core:person_delete person.id %}" method="POST">
      <div class="modal-body">
          {% csrf_token %}
          Deseja mesmo deletar "{{ object }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <input type="submit" class="btn btn-danger" value="Deletar" />
      </div>
        </form>
    </div>
  </div>
</div>


{% endblock content %}
