{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Person Form{% endblock title %}

{% block content %}

<form class="form-horizontal col-sm-6" action="." method="POST">
    <legend>Novo Contato</legend>
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    
    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
</form>

{% endblock content %}
