{% extends 'base.html' %}

{% load static %}

{% block title %}Contatos{% endblock title %}

{% block content %}

<form class="navbar-form navbar-right" action="." method="get">
    <!-- add -->
    <a href="{% url core:person_add %}">
        <button id="new" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Adicionar
        </button>
    </a>
    <!-- search form -->
    <div class="form-group">
      <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
      <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
  </div>
</form>

<div class="page-header">
<h2><h2><i class="fa fa-user"></i> Lista de Contatos</h2>
</div>

<div>
{% if person_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Redes sociais</th>
        <th class="text-center">Filhos</th>
        <th>Salário</th>
        <th>UF</th>
      </tr>
    </thead>
    <tbody>
    {% for person in person_list %}
      <tr>
        <td><a href="{{ person.get_absolute_url }}">{{ person.full_name }}</a></td>
        <td>{{ person.email }}</td>
        <td>
        <div class="social mini">
          {% for network in person.network.all %}
            {% if network.network == 'facebook' %}
              <a href="#"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if network.network == 'twitter' %}
              <a href="#"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if network.network == 'google-plus' %}
              <a href="#"><i class="fa fa-google-plus"></i></a>
            {% endif %}
            {% if network.network == 'github' %}
              <a href="#"><i class="fa fa-github"></i></a>
            {% endif %}
            {% if network.network == 'pinterest' %}
              <a href="#"><i class="fa fa-pinterest"></i></a>
            {% endif %}
            {% if network.network == 'linkedin' %}
              <a href="#"><i class="fa fa-linkedin"></i></a>
            {% endif %}
            {% if network.network == 'instagram' %}
              <a href="#"><i class="fa fa-instagram"></i></a>
            {% endif %}
            {% if network.network == 'skype' %}
              <a href="#"><i class="fa fa-skype"></i></a>
            {% endif %}
            {% if network.network == 'slack' %}
              <a href="#"><i class="fa fa-slack"></i></a>
            {% endif %}
          {% endfor %}
        </div>
        </td>
        <td class="text-center">{{ person.child }}</td>
        <td>{{ person.salary }}</td>
        <td>{{ person.get_uf_display }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}
</div>

<hr>
<div>
<h4><b>Total:</b> {{ page_obj.paginator.count }} contato{{ page_obj.paginator.count|pluralize }}</h4>
</div>

{% include "pagination.html" %}

{% endblock content %}
